%h1 Listing character_notes

%table
  %thead
    %tr
      %th Character
      %th Title
      %th Body
      %th
      %th
      %th

  %tbody
    - @character_notes.each do |character_note|
      %tr
        %td= character_note.character
        %td= character_note.title
        %td= character_note.body
        %td= link_to 'Show', character_note
        %td= link_to 'Edit', edit_character_note_path(character_note)
        %td= link_to 'Destroy', character_note, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Character note', new_character_note_path
