%p#notice= notice

%p
  %b Name:
  = @character.name
%p
  %b Player:
  = @character.player
%p
  %b Age:
  = @character.age
%p
  %b Race:
  = @character.race
%p
  %b Height:
  = @character.height
%p
  %b Body type:
  = @character.body_type

= link_to 'Edit', edit_character_path(@character)
\|
= link_to 'Back', characters_path
